@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
    <pre>
        Mã sinh viên: 2210900073
        Họ tên: Phạm Anh Tuấn
        Ngày sinh: 01/03/2004
        Điện thoại: 0123456789
        Email: tuan@gmail.com
    </pre>
</main>